<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hack Club | AI</title>
  </head>
  <body>
    <header>
      <h1>ai.hackclub.com</h1>
      <p>
        An experimental service providing unlimited
        <code>/chat/completions</code> for free, for teens in
        <a href="https://hackclub.com/" target="_blank">Hack Club</a>. No API
        key needed.
      </p>
      <p>
        <b>{{ total_tokens }}</b> tokens processed since January 2025. Current
        model:
        <b
          ><code>{{ model }}</code></b
        >.
      </p>
      <p>
        Open source at
        <a href="https://github.com/hackclub/ai">github.com/hackclub/ai</a>!
      </p>
    </header>

    <section>
      <h2>Usage</h2>
      <h3>Chat Completions</h3>
      <pre><code>curl -X POST https://ai.hackclub.com/chat/completions \
    -H "Content-Type: application/json" \
    -d '{
        "messages": [{"role": "user", "content": "Tell me a joke!"}]
    }'</code></pre>

      <h3>Get Current Model</h3>
      <p>To get current model:</p>
      <pre><code>curl https://ai.hackclub.com/model</code></pre>
      <p>Example response: <code>{{ model }}</code></p>
    </section>

    <section>
	<h2>Terms</h2>
	<p>
	  You must be a teenager in the <a href="https://hackclub.com/slack">Hack Club Slack</a>.
	  All requests and responses are logged to prevent abuse.
	  Projects only - no personal use. This means you can't use it in Cursor or anything similar for the moment!
	  Abuse means this will get shut down - we're a nonprofit funded by donations.
	</p>
    </section>
  </body>
</html>
