<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hack Club | AI</title>
</head>
<body>
    <header>
        <h1>ai.hackclub.com</h1>
        <p>
		An experimental service providing unlimited <code>/chat/completions</code> for free, for teens in <a href="https://hackclub.com/" target="_blank">Hack Club</a>.
		No API key needed.
		{{ total_tokens }} tokens processed since January 2025.
		Current model: <code>{{ model }}</code>.
		<br />
		Open source at <a href="https://github.com/hackclub/ai">github.com/hackclub/ai</a>
        </p>
    </header>

    <section>
        <h2>Usage:</h2>
        <pre><code>curl -X POST https://ai.hackclub.com/chat/completions \
    -H "Content-Type: application/json" \
    -d '{
        "messages": [{"role": "user", "content": "Tell me a joke!"}]
    }'</code></pre>
    </section>
</body>
</html>
