<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hack Club | AI</title>
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css"
    />
  </head>
  <body>
    <header>
      <h1>ai.hackclub.com</h1>
      <marquee>
        DeepSeek is currently down! This <em>is</em> experimental, after all.
        Check <a href="https://status.deepseek.com/">status.deepseek.com</a> for
        details.
      </marquee>
      <p>
        An experimental service providing unlimited
        <code>/chat/completions</code> for free, for teens in
        <a href="https://hackclub.com/" target="_blank">Hack Club</a>. No API
        key needed.
      </p>
      <p>
        <b>{{ total_tokens }}</b> tokens processed since January 2025. Current
        model: <code>{{ model }}</code
        >.
      </p>
      <p>
        Open source at
        <a href="https://github.com/hackclub/ai">github.com/hackclub/ai</a>!
      </p>
    </header>

    <section>
      <h2>Usage</h2>
      <pre><code>curl -X POST https://ai.hackclub.com/chat/completions \
    -H "Content-Type: application/json" \
    -d '{
        "messages": [{"role": "user", "content": "Tell me a joke!"}]
    }'</code></pre>
    </section>
  </body>
</html>
